# --- Dados ---
!data/raw/.gitkeep
!data/silver/.gitkeep
*.xls
*.xlsx
*.csv
*.parquet

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
*.log
*.ipynb

# --- Testes ---
.pytest_cache/
.coverage
htmlcov/

# --- IDEs ---
.vscode/
.idea/

# --- Sistema ---
.DS_Store
Thumbs.db